
<div id="@Html.Raw(Model.GagId+"comments")">
    <div class="actionBox">
        <ul class="commentList">
            @foreach (var comment in Model.Comments)
            {
                <li>
                    <div class="commentText">
                        <label>@comment.Description</label>
                        <p class="sub-text">by: @comment.Owner.Nickname  at:@comment.Date</p>
                    </div>
                </li>
            }
        </ul>
        <div class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" pattern=".{4,}"   required title="at least 4 letters" type="text" placeholder="Your comments" id="@Html.Raw(Model.GagId+"description")" name="Description" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" onclick="addComment('@Model.GagId')">Add</button>
            </div>
        </div>
    </div>
</div>
